.ima{
    width:25px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.unique{
    width: 25px;
    margin-right: 10px;
    transform: translateY(20%);
}
hr{
    color: orange;
    width: 100%;
}
.base{
    width: 400px;
    box-shadow: 0 0 0 0.5px orange;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    background-color: rgb(10, 10, 10);
}
.caja{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 35px 0;
}
.caja img{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(50%);
}
h1{
    color: rgb(238, 106, 18);
    font-size: 25px;
    text-align: left;

}
label{
    color: rgb(66, 66, 66);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../MEDIA/fondo_uno.jpg");
    background-size: cover;
}
input{
    width: 100%;
    height: 100%;
    background: rgb(61, 61, 61);
    border: none;
    border: solid 2px rgb(202, 200, 200);
    border-radius: 15px;
    color: white;
    text-align: center;
}
input:hover{
    background-color: rgb(161, 72, 12);
}
a{
    margin-top: 5px;
    color: white;
}
button{
    border: none;
    margin-top: 20px;
    background-color: rgb(238, 106, 18);
    width: 100%;
    height: 45px;
    border-radius: 30px;
    font-size: 20px;
    margin-bottom: 10px;
}
button:hover{
    background-color: white;
    transform: scale(1.08);
    transition: 0.2s;
    box-shadow: 0 4px 4px black;
}
.registro{
    text-align: center;
}